DATABASE_URL=postgresql://ztrack:ztrack@db:5432/ztrack
TIMEZONE=America/Lima
API_PORT=9490
JWT_SECRET=ztrack-serie-jwt-secret-change-me-2023
JWT_EXPIRE_HOURS=12
SUPERUSER_USERNAME=ztrack
SUPERUSER_PASSWORD=proyectoztrack2023
